# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Sublime Text Files
# --------------------
*.sublime-project
*.sublime-workspace

# --------------------
# IntelliJ Files
# --------------------
*.iml
*.ipr
*.iws
.idea/
out/

# --------------------
# Eclipse Files
# --------------------
.project
.metadata
*.bak
.classpath
.settings/

# --------------------
# App Files
# --------------------
node_modules
